global
  log /dev/log    local0
  maxconn 4096
  daemon

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  timeout connect 5000ms
  timeout client  50000ms
  timeout server  50000ms

frontend http_front
  bind *:80
  acl is_api_auth path_beg /api/auth
  acl is_api_users path_beg /api/users
  acl is_api_todos path_beg /api/todos

  use_backend auth_pool if is_api_auth
  use_backend users_pool if is_api_users
  use_backend todos_pool if is_api_todos

  default_backend frontend_pool

backend auth_pool
  balance roundrobin
  server auth1 192.168.56.12:8080 check

backend users_pool
  balance roundrobin
  server users1 192.168.56.13:8080 check

backend todos_pool
  balance roundrobin
  server todos1 192.168.56.14:3003 check

backend frontend_pool
  balance roundrobin
  server fe1 192.168.56.11:8080 check